.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: #ccc 1px dotted;
    padding: 1rem;
    margin-top: 5px;
}
.text-content{
    padding: 7px 0;
    text-align: left;
    width: 100%;
    &:hover{
      cursor: pointer;
    }
}
.posts{
    width: 60px;
    opacity: 0.7;
    margin-left: 2px;
}
.posts-off {
    &:hover{
        cursor: pointer;
        color: var(--accent-color);
    }
}
.posts-on{
    color: var(--accent-color);
    &:hover{
        cursor: pointer;
        color: var(--dark-color);
    }
}
.accent{
  color: var(--accent-color);
}
.footer-container{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.filter-icon {
    margin-left: -164px;
    margin-top: 3px;
    color: var(--primary-color);
    opacity: 0.7;
}
.material-icons {
    font-size: small;
}
