.content-container {
  display: flex;
  align-items: center;

  height: 200px;
  width: 200px;
  padding: 20px;
}

::ng-deep .dropzone .dz-preview .dz-details{
  padding: 2rem 0 0 0 !important;
}

::ng-deep dropzone[fxlayout]>.dropzone.dz-wrapper.dz-single {
   overflow: hidden;
}

.icon-image {
  display: flex;
  height: 100%;
}

.action {
  position: absolute;
  width: 0px;
  height: 0px;
  margin-top: -192px;
  z-index: 1000;
  margin-left: 7px;
}

.blur-wrapper {
  width: 185px;
  height: 185px;
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.close-btn {
  border: none;
  color: rgba(5, 5, 5, 1);
  border-radius: 20px;
  margin-top: 4px;
  margin-left: 155px;
  height: 24px;
  width: 24px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 5, 5);
    color: rgba(255, 255, 255, 0.95);
    opacity: 0.9;
  }
}

.start-action {
  opacity: 0.6;
}

.close-icon {
  margin-top: 2px;
  font-size: 20px;
  font-weight: 900;
}

// .close-message{
//     background-color: rgba(255, 5, 5);
//     color: rgba(255, 255, 255, 0.95);
//     border-radius: 5px;
//     transition: 0.3s;
//     padding: 5px;
//     text-align: center;
//     width: 100px;
//     margin-left: 42px;
//     margin-top: 42px;
//     opacity: 0;
// }

// .visible{
//     z-index: 1000;
//     opacity: 1;
//     visibility: visible;
//     transition: 0.3s;
// }

// .fantom{
//     z-index: -1;
//     visibility: hidden;
//     opacity: 0;
//     transition: 0.3s;
// }

dropzone::ng-deep .dropzone.dz-wrapper.dz-single .dz-preview {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0;
  margin: 0 !important;
}

dropzone::ng-deep .dropzone.dz-wrapper.dz-single .dz-message {
  width: 100%;
  height: 160px !important;
  max-width: 100% !important;
  margin: 0 !important;
}

dropzone::ng-deep .dropzone.dz-wrapper.dz-single .dz-preview .dz-image img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0;
}

.add-container {
  margin-top: -56px;
  z-index: 1000;
  margin-left: 7px;
}

.add-btn {
  border: none;
  color: black;
  border-radius: 5px;
  margin-top: 4px;
  margin-left: 144px;
  height: 36px;
  width: 36px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 0.95);
    opacity: 0.9;
  }
}

.add-icon {
  vertical-align: middle;
  font-size: 18px;
}

.file-input {
  display: none;
}
