input {
  font-size: 14px;
}

.edit-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

.post-table-container {
  width: 800px;
  min-width: 600px;
  max-width: 70%;
  height: 100%;
}

app-close-button::ng-deep .action-btn {
  border: none;
  color: rgba(5, 5, 5, 1);
  border-radius: 20px;
  margin-top: 4px;
  height: 24px;
  width: 24px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--dark-color-lighter);
  transition: 0.1s;

  &:hover {
    cursor: pointer;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.12);
    color: var(--dark-color);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.18);
    ;
    opacity: 1;
    color: red;
  }
}

.hub-edit-space {
  width: 25%;
  padding-left: 30px;
  height: 100%;
}

.hub-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 30px;

  height: 470px;
}

.hub-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px;
  border-color: inherit;
  width: 100%;
  padding-left: 15px;

}

.hub-slider {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 20px;
}

.hub-item {
  padding: 5px 5px 0 0;
}

.back-drop {
  width: 18%;
  height: 85%;
  background: white;
  opacity: 0.2;
  visibility: hidden;
  z-index: 1;
  position: fixed;

  &.disable {
    visibility: visible;
  }

  &.enable {
    visibility: hidden;
  }
}

.desc {
  height: 70%;
  min-height: 154px;
}

.height {
  height: 90%;
  resize: none;
  font-size: inherit;
  border-color: rgb(0, 0, 0, 0.3);
}

textarea:focus {
  outline: none !important;
  border-color: rgb(0, 0, 0, 0.3);
}

.fab-container {
  position: fixed;
  bottom: 64px;
  left: 20px;
}

.fab-button {
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

::ng-deep mat-tooltip-component .btn-tooltip{
  font-size: 10px !important;
  padding: 0 5px;
  align-content: center;
  position: relative;
  left: -15px;
  top:27px;
  background: #33333359;
  backdrop-filter: blur(4px);
  color: white;
  border-radius: 0px;
  border: #fff 0.5px solid;
}

.button-footer {
  padding: 5px 0 0 0
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  background: white;
  border-top: 1px solid;
  align-items: center;
  margin-left: -30px;
}

footer::ng-deep.mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-thumb {
  background-color: red;
}

.toggle-scale {
  transform: scale(0.75);
  padding-left: 30px;
}

.toggle-title {
  padding-top: 3px;
}
