<div id="wrapper" class="toggle-wrapper">
    <button mat-mini-fab type="button" id="icon" class="action-btn start-action"  (click)="click()">
        <!-- <i *ngIf="!toggled" class="material-icons icon-svg drop-icon" >arrow_downward</i>
        <i *ngIf="toggled" class="material-icons icon-svg drop-icon" >arrow_upward</i> -->
        <i *ngIf="!toggled" class="material-icons icon-svg drop-icon" >add</i>
        <i *ngIf="toggled" class="material-icons icon-svg drop-icon" >remove</i>
    </button>
</div>
