.backdrop{
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}

.modal{
    background: #ffffff;
    margin-top: 33rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -100%);
}

.left{
    justify-content: flex-start;
}

.icon-layout{
    width: 20px;
}

.title{
    padding-left: 10px;;
}
.content{
    padding: 0 20px 12px 20px;
}
