.action-btn {
    border: none;
    color: rgba(5, 5, 5, 1);
    border-radius: 20px;
    margin-top: 4px;
    height: 24px;
    width: 24px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--dark-color-lighter);
    transition: 0.1s;
    &:hover{
        cursor: pointer;
        opacity: 1;
        
        color: var(--dark-color);
    }
    &:active{
        
        opacity: 1;
        color: blue;
    }
}


.start-action{
    opacity: 0.5;
}

.edit-icon{
    transform: scale(0.8);
}